* {
    margin: 0;
    padding: 1px;
    /* box-sizing: border-box; */
    font-family: 'Spartan', sans-serif;   
}
body {
    background: url('./images/bg-pattern-top-desktop.svg');
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    width: 100%;
}
.mainHeader {
    text-align: center;
    margin-top: 60px;
}
.mainHeader h1 {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 26px;
    color: hsl(300, 43%, 22%);
}
.mainHeader p {
    padding: 20px 0;
    font-size: 11.5px;
    letter-spacing: -0.3px;
    line-height: 20px;
    font-weight: 500;
    color: hsl(303, 10%, 53%);
}
.ratingContainer {
    width: 100%;
    margin: 12px 0;
    padding: 12px 0;
    border-radius: 5px;
    text-align: center;
    background-color: hsl(300, 24%, 96%);
}
.ratingContainer img {
    transform: scale(0.8);
}
.ratingContainer p {
    margin-top: 5px;
    font-size: 11px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.reviews {
    margin-top: 40px;
}
.reviewContainer {
    margin: 14px 0;
    border-radius: 6px;
    background-color: hsl(300, 43%, 22%);
    padding: 10px 24px 24px 24px;
    min-height: 200px;
}
.reviewHeader {
    transform: translateX(-24px);
    display: flex;
    align-items: center;
    padding: -20px;
}
.reviewHeader img {
    transform: scale(0.4);
    border-radius: 50%;
}
.reviewHeader h2 {
    font-size: 10.5px;
    font-weight: 500;
    color: white;
}
.reviewHeader h3 {
    font-size: 11px;
    color: hsla(333, 80%, 67%, 60%);
    font-weight: 400;
}
.reviewContainer p {
    color: hsl(300, 24%, 96%);
    font-size: 10.5px;
    line-height: 16px;
    letter-spacing: -0.4px;
}

@media (min-width: 700px) {
    main {
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainHeader {
        width: 350px;
        text-align: start;
    }
    .mainHeader h1 {
        margin: 0;
        font-size: 40px;
        line-height: 40px;
    }
    .desktopWrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }
    .ratingContainer {
        width: 220px;
    }
    .ratingContainer:nth-of-type(1) {
        transform: translateX(-40px);
    }
    .ratingContainer:nth-of-type(3) {
        transform: translateX(40px);
    }
    .ratingContainer p {
        margin-left: 20px;
    }
    .reviews {
        max-width: 1100px;
        display: flex;
    }
    .reviewContainer {
        margin: 14px 6px;
    }
    .reviewContainer:nth-of-type(1) {
        transform: translateY(-15px);
    }
    .reviewContainer:nth-of-type(3) {
        transform: translateY(15px);
    }
}
@media (min-width: 1100px) {
    .ratingContainer {
        width: 400px;
        display: flex;
        justify-content: center;
    }
    .ratingContainer:nth-of-type(1) {
        transform: translateX(-80px);
    }
    .ratingContainer:nth-of-type(2) {
        transform: translateX(-40px);
    }
    .ratingContainer:nth-of-type(3) {
        transform: translateX(0);
    }
    .reviewContainer {
        margin: 14px;
    }
    .reviewContainer:nth-of-type(1) {
        transform: translateY(-20px);
    }
    .reviewContainer:nth-of-type(3) {
        transform: translateY(20px);
    }
}


/* NAVBAR */

.navbar{
    width: 100%;
    margin: 0;
    padding: 5px;
    min-height: 60px;
}
